/* jinka.css
 * $Revision: 1.3 $
 * $Date: 2003/01/04 18:55:08 $
 */	
a         { text-decoration: none; }
a:link    { color: darkblue;  background: transparent; }
a:visited { color: blue;      background: transparent; }
a:active  { color: orange;    background: transparent; }
a:hover   { color: blue;      background: gray; }

body {
    color: #000000;
    background-color: #FFFF80;
    margin: 0pt;
    padding: 0pt;
}

h1 {
  text-align: center;
  font-size: 140%;
  font-family: sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.2in;
  color: darkblue;
  background-color: transparent;
  border-bottom: 1pt solid darkblue;
}
h3 {
  font-size: 105%;
  font-weight: bold;
}

blockquote {
  color: #F0F0FF;
  background-color: black;
  border: 1px solid gray; 
  padding: 5pt;
}

span.dim {
  color: dark gray;
  background: white;
}

div.dim {
  color: dark gray;
  background: white;
}

p.dim {
  color: gray;
  background: white;
}

em { 
    color: red;
    background: transparent; 
  }

ul { list-style-type: circle; }

li { margin: 6pt; }

table.table {
   border-collapse: collapse;
   border-spacing: 0px;
   color: black;
   background-color: white;
}

table.table tr th {
    color: black;
    background-color: #A0A0FF;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding: 3pt 12pt;
}

table.table tr td {
    color: black;
    background-color: inherit;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding: 3pt 12pt;
}

.main {
    color: inherit;
    background-color: white;
    margin: 0pt 1in;
    padding: 12pt;
    border-left: solid thin gray;
    border-right: solid thin gray;
}

.copyright {
    color: #606060;
    background-color: transparent;
    text-align: center;
    font-size: 10pt;
    border-top: thin solid gray;
    padding: 5pt;
    margin: 5pt 0pt;
}