/* jinka.css
 * $Id: jinka.css,v 1.2 2002-02-05 16:40:14 pooh Exp $
 */	
a:link    { color: blue;   background: transparent; }
a:visited { color: purple;   background: transparent; }
a:active  { color: yellow; background: transparent; }
body {
    color: rgb( 0, 0, 0);
    background: rgb(240, 240, 256);
    margin-left:  0.5in;
    margin-right: 0.5in;
}
h1 {
  text-align: center;
  font-size: 140%;
  font-family: sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.2in;
}
h3 {
  font-size: 105%;
  font-weight: bold;
}

span.dim {
  color: dark gray;
  background: white;
}

div.dim {
  color: dark gray;
  background: white;
}

p.dim {
  color: gray;
  background: white;
}

em { 
    color: red;
    background: transparent; 
  }

ul { list-style-type: circle; }
